s<!DOCTYPE html>
<html>
  <head>
    <meta contents='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <head>
  <body>
    <p>
      <p><%= @client_email %> est interessé par votre annonce </p>
      <%= @message %>
    </p>
  </body>
</html>
