.container
  .row.top
    .col-xs-4
      .btn.waves-effect.waves-light= link_to t('term'), foots_path, :class => 'btn waves-effect waves-light'
      .pull-right.btn.waves-effect.waves-light= link_to t('legal'), legals_path, :class => 'btn waves-effect waves-light'
